
/* -------------------- FOR TEXT --------------------------*/

p, h1, h2, h4, h6 {
    position: relative;
    animation-name: textmove;
    animation-duration: 4s;
    animation-iteration-count: 1;
    // animation-delay: 2s;
}

@keyframes textmove {
    from {right: 300px;}
    to {right: 0px;}
}

#transform {
    position: relative;
    animation-name: transmove;
    animation-duration: 3s;
    animation-iteration-count: 1;
    // animation-delay: 0s;
}


@keyframes transmove {
    from {right: 300px;}
    to {right: 0px;}
}


/* -------------------- FOR IMG --------------------------*/


.card {
    img:hover {
        transform: scale(1.1);
    }
}